<div>
    <h1>Registrate como usuario :D</h1>
    <form id="registerForm">
        <label >First name</label>
        <input name="first_name">
        <label >Last name</label>
        <input name="last_name">
        <label >Phone number</label>
        <input name="phone">
        <label >Age</label>
        <input name="age">
        <label>Email</label>
        <input name="email">
        <label>Password</label>
        <input name="password">
        <input type="submit">
    </form>
</div>
<script src="/js/register.js"></script>